h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10vw;
    margin: 0 auto;
    width: fit-content;
}

#updates{
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    font-size: calc(10px + 1vw);
}